@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #241d34;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
